<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="../myexamples/tiger_pomdp.pomdpx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="2" numObsValue="1" numVectors="176">
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="3" obsValue="0">75.4653 -90.8798 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="3" obsValue="0">86.5563 -110.54 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="1" obsValue="0">100 -1000 </Vector>
<Vector action="3" obsValue="0">86.5563 -110.54 </Vector>
<Vector action="3" obsValue="0">74.4914 31.9733 </Vector>
<Vector action="3" obsValue="0">-110.54 86.5563 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="2" obsValue="0">-1000 100 </Vector>
<Vector action="3" obsValue="0">-110.54 86.5563 </Vector>
<Vector action="3" obsValue="0">31.9733 74.4914 </Vector>
<Vector action="3" obsValue="0">61.3023 61.3023 </Vector>
</AlphaVector> </Policy>
